@model System.Collections.Generic.List<Entities.Concrete.Blog>

@{
    ViewBag.Title = "title";
    Layout = "WriterLayout";
}

<h1>Author's Blogs</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Title</th>
        <th>Create Date</th>
        <th>Category</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogId</td>
            <td>@item.Title</td>
            <td>@item.CreateDate</td>
            <td>@item.CategoryId</td>
            <td>@item.Status</td>
            <td>
                <a href="" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a href="" class="btn btn-warning">Update</a>
            </td>
        </tr>
    }
</table>
<a asp-action="BlogAdd" asp-controller="Blog" class="btn btn-primary">New Blog</a>