@model List<Entities.Concrete.Blog>

@{
    ViewBag.Title = "title";
    Layout = "AdminLayout";
}
<!DOCTYPE html>
<html>
<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div>
                            <img src="@item.ThumbnailImage" style="width:100%" alt="">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                @item.CreateDate.ToString("yyyy-M-d dddd")
                            </span>
                            <small class="text-muted">@item.Category.CategoryName</small>
                            <a href="#" class="product-name"> @item.Title</a>


                            <div class="small m-t-xs">
                                @item.Content.Substring(0, item.Content.Substring(0, 100).LastIndexOf(" "))...
                            </div>
                            <div class="m-t text-righ">

                                <a asp-area="" asp-controller="Blog" asp-action="ReadAll" asp-route-id="@item.BlogId" 
                                class="btn btn-xs 
                                btn-outline 
                                btn-primary">Details <i 
                                class="fa 
                                fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>